.container {
  width: 1320px;
  margin: 0 auto;
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.mainBlock {
  width: 551px;
  display: flex;
}

.expertDonations {
  margin: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.leftBlock {
  width: 116px;
}

.editBtn {
  width: 109px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #9CA3AF;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #1F2937;
  margin-top: 36px;
}

.rightBlock {
  margin-left: 36px;
}

.text {
  margin-top: 24px;
}

.shareProfile {
  margin-top: 16px;
}


