.withDrawBtn {
  cursor: pointer;
  width: 148px;
  height: 36px;
  background: #CB00DD;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;

  &:disabled {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #9CA3AF;
    border: 1px solid #9CA3AF;
    background-color: #fff;
  }
}
