.cellButton {
  cursor: pointer;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  background-color: #D86AFF;
  width: 107px;
  height: 42px;

  &:hover {
    background-color: lighten(#D86AFF, 5%);
  }

  &:disabled {
    background-color: #fff;
    color: #9CA3AF;
    opacity: 0.5;
    font-weight: 400;
    border: 1px solid #9CA3AF;
    pointer-events: none;
  }
}

.tooltip {
  width: 200px;
  height: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  position: absolute;
  top: -39px;
  right: 00px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.buttonWrapper {
  position: relative;
}
