.connectBtn {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 17px;
  color: #fff;
  border: tomato 2px solid;
  padding: 10px;
  border-radius: 8px;
  background-color: tomato;
  &:hover {
    background-color: darken(tomato, 10%);
  }
}

.web3BtnWrapper {
  margin-left: 69px;
  margin-bottom: 20px;
  margin-top: 17px;
}
