* {
  list-style: none;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0);
  opacity: .5;
  backdrop-filter: blur(1px);
  z-index: 1;
}

.overlayTransparent {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 1;
}

p, h1, h2, h3 {
  margin: 0;
}

