.step2 {
  padding: 20px 69px 40px;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #182233;
}

.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
  margin-inline: auto;
  margin-bottom: 38px;
}

.desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1F2937;
  text-align: center;
  margin-bottom: 18px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #1F2937;
}

.backBtn {
  position: absolute;
  left: 18px;
  top: 18px;
}

