.container {
  width: 616px;
  margin: 0 auto;
}

.form {
  padding: 0;
}

.topInputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.topInput {
  border-radius: 4px;
  width: 304px;
  height: 44px;
  padding-left: 10px;
  border: 1px solid #D1D5DB;

  &::placeholder {
    color: #D1D5DB;
  }
}

.textarea {
  width: 616px;
  height: 146px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  resize: none;
  vertical-align: top;
  padding: 18px 10px;

  &::placeholder {
    color: #D1D5DB;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1F2937;
  margin-bottom: 32px;
  text-align: center;
  margin-top: 74px;
}

.profileImageLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1F2937;
  margin-bottom: 6px;
}

.profileImageRecommend {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  margin-bottom: 16px;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display:  block;
  margin-bottom: 28px;
  width: 95px;
  height: 95px;
  background: 50% / cover;
  background-image: url(../../../assets/form/fileBtn.svg);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2B1E3B;
  margin-bottom: 8px;
}

.moreText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4B5563;
  margin-bottom: 8px;
}

.textAreaBottomLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #9CA3AF;
  margin-top: 10px;
  margin-bottom: 30px;
}

.addLinksTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2B1E3B;
  margin-bottom: 16px;
}

.socialInput {
  width: 588px;
  height: 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  color: #1F2937;
  padding: 16px 16px 16px 114px;
  border: #F3F4F6 1px solid;


  &::placeholder {
    color: #D1D5DB;
  }
}

.socialInputWrapper {
  position: relative;
  margin-bottom: 8px;

  &:before {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #1F2937;
    line-height: 52px;
    left: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 55%;
    transform: translateY(-50%);
    left: 8px;
    line-height: 52px;
  }
}

.tg {
  &:before {
    content: 'Telegram';
  }

  &:after {
    background: url(../../../assets/form/tg.svg) no-repeat;
  }
}

.twitter {
  &:before {
    content: 'Twitter';
  }

  &:after {
    background: url(../../../assets/form/twitter.svg) no-repeat;
  }
}

.instagram {
  &:before {
    content: 'Instagram';
  }

  &:after {
    background: url(../../../assets/form/insta.svg) no-repeat;
  }
}


.website {
  &:before {
    content: 'Website';
  }

  &:after {
    background: url(../../../assets/form/website.svg) no-repeat;
  }
}

.formButtons {
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin: 40px auto 170px;
  border-radius: 25px;
}

.backBtn {
  border: 1px solid #9CA3AF;
  border-radius: 25px;
  width: 124px;
  height: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1F2937;
  cursor: pointer;
}

.continueBtn {
  width: 144px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CB00DD;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #CB00DD;
  cursor: pointer;

  &:active {
    background-color: darken(#CB00DD, 10%);
  }

  &:disabled {
    font-weight: 600;
    color: #9CA3AF;
    border: 1px solid #9CA3AF;
    background-color: #FFFFFF;
  }
}
