.expertsBlock {
  font-size: 14px;
  line-height: 20px;
  color: #1F2937;
  margin: 0 auto 245px;
  width: 938px;
  background: #FFFFFF;
  box-shadow: -3px -2px 33px rgba(0, 0, 0, 0.03), 5px 7px 14px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 30px 42px 32px;
}

.expertsTitle {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #374151;
  margin-bottom: 64px;
}

.expertsDesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}

.expertsListHeader {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.cellName_header {
  display: flex;
  align-items: center;
  width: 31%;
}

.cellContributors_header {
  width: 20%;
}

.cellDonations_header {
  width: 25%;
}

