.modal {
  min-width: 320px;
  padding: 20px 16px;
  z-index: 2;
  position: relative;
}

.header {
  display: flex;
  padding-bottom: 21px;
  border-bottom: solid 1px #F3F4F6;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1F2937;
}

.profileBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.walletWrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}

.balance {
  width: 92px;
  margin-right: 36px;
}

.balanceName {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1F2937;
  margin-bottom: 10px;
}

.balanceValue {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1F2937;
}

.walletNumberWrapper {
  background: #F3F4F6;
  border-radius: 4px;
  width: 112px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-right: 36.5px;
}

.walletNumber {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  margin-right: 8px;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.withDraw {
  margin-right: 0;
}
